

<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelvr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'deps/css/styles.css' %}">
    <title>UrbanSoles</title>
</head>
<body>

    <header class="header">
        <div class="header__top">
            <div class="header__container container">
                <div class="header__contact">
                    <span>+7(775)-917-46-24</span>

                    <span> Our location</span>
                </div>

                <p class="header__alert-news">Super Value Deals - Save more with coupons
                </p>
                <a href="login-reqister.html" class="header__top-action">
                    Log In / Sign Up
                </a>
            </div>
        </div>

        <nav class="nav container">
            <a href="index.html" class="nav__logo">
                <img src="{% static 'deps/images/sneakersicon.png'%}" alt="" class="nav__logo-img">
            </a> 

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{% url 'main:index' %}" class="nav__link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="{%url 'tickets:index'%}" class="nav__link  active-link">Shop</a>
                    </li>

                    <li class="nav__item">
                        <a href="" class="nav__link">My Account</a>
                    </li>

                    <li class="nav__item">
                        <a href="" class="nav__link">Compare</a>
                    </li>

                    <li class="nav__item">
                        <a href="" class="nav__link">Login</a>
                    </li>
                </ul>

                <div class="header__search">
                    <input type="text" 
                            placeholder="Search for items..." 
                            class="form__input"
                    />

                    <button class="search__btn">
                        <img src="{% static 'deps/images/mirassuka.png' %}" alt="Search Icon">

                    </button>
                </div>

            </div>
            <div class="header__user-actions">
                <a href="wishlist.html" class="header__action-btn">
                    <img src="{%static 'deps/images/icon-heart.svg'%}" alt=""> 
                    <span class="count">3</span>
                </a>

                <a href="cart.html" class="header__action-btn">
                    <img src="{%static 'deps/images/icon-cart.svg'%}" alt="">
                    <span class="count">3</span>
                </a>    
            </div>
        </nav>
    </header> 

    <main class="main">

        <section class="breadcrumb">
            <ul class="breadcrumb__list flex container">
                <li><a href="{% static 'deps/images/sneakersicon.png'%}" class="breadcrumb__link">Home</a></li>
                <li><span class="breadcrumb__link">></span></li>
                <li><span class="breadcrumb__link">Shop</span></li>
            </ul>
        </section>

            <section class="products section--lg container">
                <p class="total__products">
                    We found <span>16</span> items for you!
                </p>

                <div class="products__container grid">
                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/jordanproduct.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/jordanproduct.jpeg'%}" alt="" 
                                class="product__img hover">
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-pink">Hot</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Air Jordan 3</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$238.85</span>
                                <span class="old__price">$245.8</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/asicsproduct.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/asicsproduct.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-green">Hot</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Asics</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$220.85</span>
                                <span class="old__price">$234.5</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/blazerproduct.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/blazerproduct.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-orange">Hot</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Blazer mid</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$225.35</span>
                                <span class="old__price">$269.99</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/adidas3product.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/adidas3product.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-blue">Hot</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title"> Adidas Sahale</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$235.00</span>
                                <span class="old__price">$250.85</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/nike5product.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/nike5product.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-pink">-30%</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Nike Dunk</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$238.85</span>
                                <span class="old__price">$245.8</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/jordan3product.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/jordan3product.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-pink">-22%</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title"> Air Jordan 1</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$242.5</span>
                                <span class="old__price">$245.8</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/starnikeproduct.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/starnikeproduct.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-green">Hot</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Nike Bapesta</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$205.00</span>
                                <span class="old__price">$212.25</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/puma.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/puma.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>  
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Puma Palermo</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$200.25</span>
                                <!-- <span class="old__price">$245.8</span> -->
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/nike5product.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/nike5product.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-pink">-30%</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Nike Dunk</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$238.85</span>
                                <span class="old__price">$245.8</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/jordan3product.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/jordan3product.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-pink">-22%</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title"> Air Jordan 1</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$242.5</span>
                                <span class="old__price">$245.8</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/starnikeproduct.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/starnikeproduct.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>

                            <div class="product__badge light-green">Hot</div>
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Nike Bapesta</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$205.00</span>
                                <span class="old__price">$212.25</span>
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="product__banner">
                            <a href="details.html" class="product__images">
                                <img src="{% static 'deps/images/puma.jpeg'%}" alt="" 
                                class="product__img default">

                                <img src="{% static 'deps/images/puma.jpeg'%}" 
                                    alt="" 
                                    class="product__img hover"
                                />
                            </a>

                            <div class="product__actions">
                                <a href="#" class="action__btn" aria-label="Quick View">
                                    <i class="fi fi-rs-eye"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Add to Wishlist">
                                    <i class="fi fi-rs-heart"></i>
                                </a>

                                <a href="#" class="action__btn" aria-label="Compare">
                                    <i class="fi fi-rs-shuffle"></i>
                                </a> 
                            </div>  
                        </div>
                        
                        <div class="product__content">
                            <span class="product__category">sneaker</span>
                            <a href="details.html">
                                <h3 class="product__title">Puma Palermo</h3>
                            </a>
                            <div class="product__rating">
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                                <i class="fi fi-rs-star"></i>
                            </div>
                            <div class="product__price flex">
                                <span class="new__price">$200.25</span>
                                <!-- <span class="old__price">$245.8</span> -->
                            </div>

                            <a 
                                href="#" 
                                class="action__btn cart__btn" 
                                aria-label="Add To Cart"
                            >
                                <i class="fi fi-rs-shopping-bag-add"></i>
                            </a>
                        </div>
                    </div>
                </div> 

                <ul class="pagination">
                    <li><a href="#" class="pagination__link active">01</a></li>
                    <li><a href="#" class="pagination__link">02</a></li>
                    <li><a href="#" class="pagination__link">03</a></li>
                    <li><a href="#" class="pagination__link">04</a></li>
                    <li><a href="#" class="pagination__link">05</a></li>
                    <li>
                        <a href="#" class="pagination__link icon">
                            <i class="fi-rs-angle-double-small-right"></i>
                        </a>
                    </li>

                </ul>
            </section>

        <section class="newsletter section home__newsletter">
            <div class="newsletter__container container grid">
                <h3 class="newsletter__title flex">
                    <img 
                        src="{%static 'deps/images/icon-email.svg'%}" 
                        alt="" 
                        class="newsletter__icon"
                    />
                    Sign up to Newsletter
                </h3>

                <p class="newsletter__description">
                    ...and receive $25 coupon for first shopping.
                </p>

                <form action="" class="newsletter__form">
                    <input 
                        type="text" 
                        placeholder="Enter your email" 
                        class="newsletter__input"
                    />
                    <button type="submit" class="newsletter__btn">Subscribe</button>
                </form>
            </div>
        </section>
    </main>

    <footer class="footer container">
        <div class="footer__container grid">
            <div class="footer__content">
                <a href="" class="footer__logo">
                    <img src="{% static 'deps/images/sneakersicon.png'%}" alt="" class="footer__logo-img">
                </a>

                <h4 class="footer___subtitle">Contact</h4>

                <p class="footer__description">
                    <span>Address:</span> Mamyr 4, Street 32, San Francisco
                </p>

                <p class="footer__description">
                    <span>Phone:</span> +7(775)-917-46-24
                </p>

                <p class="footer__description">
                    <span>Hours:</span> 10:00 - 18:59, Mon - Sat
                </p>

                <div class="footer__social">
                    <h4 class="footer__subtitle">Follow Me</h4>
                    <div class="footer__social-links flex">
                        <a href="">
                            <img 
                                src="{%static 'deps/images/icon-facebook.svg'%}"
                                alt=""
                                class="footer__social-icon"    
                            />
                        </a>

                        <a href="">
                            <img 
                                src="{%static 'deps/images/icon-twitter.svg'%}"
                                alt=""
                                class="footer__social-icon"    
                            />
                        </a>

                        <a href="">
                            <img 
                                src="{%static 'deps/images/icon-instagram.svg'%}"
                                alt=""
                                class="footer__social-icon"    
                            />
                        </a>

                        <a href="">
                            <img 
                                src="{%static 'deps/images/icon-pinterest.svg'%}"
                                alt=""
                                class="footer__social-icon"    
                            />
                        </a>

                        <a href="">
                            <img 
                                src="{%static 'deps/images/icon-youtube.svg'%}"
                                alt=""
                                class="footer__social-icon"    
                            />
                        </a>
                    </div>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Address</h3>

                <ul class="footer__links">
                    <li><a href="" class="footer__link">About Us</a></li>
                    <li><a href="" class="footer__link">Delivery Information</a></li>
                    <li><a href="" class="footer__link">Privacy Policy us</a></li>
                    <li><a href="" class="footer__link">Terms & Conditions</a></li>
                    <li><a href="" class="footer__link">Contact Us</a></li>
                    <li><a href="" class="footer__link">Support Center us</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">My Account</h3>

                <ul class="footer__links">
                    <li><a href="" class="footer__link">Sign In</a></li>
                    <li><a href="" class="footer__link">View Cart</a></li>
                    <li><a href="" class="footer__link">My Wishlist</a></li>
                    <li><a href="" class="footer__link">Track My Order</a></li>
                    <li><a href="" class="footer__link">Help</a></li>
                    <li><a href="" class="footer__link">Order</a></li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Secured Payment Gateways</h3>

                <img src="{%static 'deps/images/payment-method.png'%}" alt="" class="payment__img">
            </div>
        </div>

        <div class="footer__bottom">
            <p class="copylight">&copy; 2023 UrbanSoles. All rights reserved</p>
            <span class="designer">Designed by Sandu, Dinara, Miras</span>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
    </script>

    <script src="{% static 'deps/js/main.js'%}"></script>

</body>
</html>