
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Flights</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="booking.html">Booking</a></li>
            <li><a href="flights.html">Flights</a></li>
        </ul>
    </nav>
    <main>
        <h2>Available Flights</h2>
        <ul>
            <li><a href="book_ticket.php?flight=astana-almaty">Astana - Almaty</a></li>
            <li><a href="book_ticket.php?flight=nyc-la">Astana - Shymkent</a></li>
            <li><a href="book_ticket.php?flight=london-paris">Astana - Aktobe</a></li>
            <li><a href="book_ticket.php?flight=london-paris">Almaty - Astana</a></li>
            <li><a href="book_ticket.php?flight=london-paris">Almaty - Taraz</a></li>
            <li><a href="book_ticket.php?flight=london-paris">Shymkent - Almaty</a></li>
            <li><a href="book_ticket.php?flight=london-paris">Astana - Taraz</a></li>
            <!-- Add other flights if needed -->
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 All rights reserved.</p>
    </footer>
</body>
</html>